
.a{color: #4285f4; font-size: 65px;}
.b{color: #ea4335; font-size: 65px;}
.c{color: #fbbc05; font-size: 65px;}
.d{color: #34a853; font-size: 65px;}
.e{color: purple; font-size: 65px;}
.f{color: #4285f4; font-size: 65px;}
.g{color: red; font-size: 65px;}
.h{color: #fbbc05; font-size: 65px;}
.i{color: green; font-size: 65px;}
.j{color: yellow; font-size: 65px;}
.k{color: purple; font-size: 65px;}
.l{color: orange; font-size: 65px;}
.m{color: green; font-size: 65px;}

.tutorial_vid {
  pointer-events: none;
}

.increase{
  margin-bottom: 250px;
}
p{
  font-family: Times;
}

/* .input {
  margin-left :20px;
  margin-top: 15px;
  margin-right:50px;
}
.filter{
  margin-left:20px;
}
.refine{
  margin-left:20px;
}

.create{
  margin-right:50px;
}
  .res{
    font-family: times, serif; font-size:14pt;
  }
  .m1{color: #4285f4; font-weight: bold;}
  .m2{color: #ea4335; font-weight: bold;}
  .m3{color: #fbbc05; font-weight: bold;} */
